@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-bebas: var(--font-bebas-neue);

  --color-primary: #DC2626;
  --color-primary-dark: #991B1B;
  --color-primary-light: #EF4444;
  --color-secondary: #F97316;
  --color-secondary-dark: #C2410C;
  --color-secondary-light: #FB923C;
  --color-accent: #FCD34D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }
  .animate-marquee2 {
    animation: marquee2 30s linear infinite;
  }
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@keyframes marquee2 {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0%); }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
